<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>送信が完了しました</h2>
      <p>内容は以下の通りです。</p>
      <h2>[タイトル]</h2>
      <p><%= @title %></p>
        
      <h2>[本文]</h2>
      <p><%= @body )%></p>
    </div>
  </div>
</div>