<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>送信が完了しました</h2>
      <p>内容は以下の通りです。</p>
      <div class="small_margin_top">
        [タイトル]<p class="front-weight-bold"><%= @mail_title %></p>
        [本文]<p class="front-weight-bold"><%= safe_join(@mail_content.)%></p>
      </div>
    </div>
  </div>
</div>